## Example datset: Top baby names

Variable|Data type|Independent/dependent|Description
-|-|-|-
`year`|Integer|Independent|The year of a data record between 1880 and 2018
`sex`|String|Independent|Female versus Male, represented as the string "Female" or "Male"
`name`|String|Dependent|Top name applied for in the given year for the given sex
`count`|Integer|Dependent|Count of applicants for the top name in the given year for the given sex

Example dataset is in canvas.

In [ ]:
with open('top_names.txt', 'r') as fi:
  raw_data = fi.read()

raw_data

'Year, Sex, Name, Count\n2018, Male, Liam, 19837\n2018, Female, Emma, 18688\n2017, Male, Liam, 18798\n2017, Female, Emma, 19800\n2016, Male, Noah, 19117\n2016, Female, Emma, 19496'

## Dictionary of Lists (DoLs)

Variables as the keys and similar data as list of values

`top_names['year'] = [2018, 2018, ..., 2016]`

In [ ]:
top_names = dict()

top_names['Year'] = [2018, 2018, 2017, 2017, 2016, 2016]

top_names

{'Year': [2018, 2018, 2017, 2017, 2016, 2016]}

## List of Lists (LoLs)

represent the data as collection of rows. Each row is a list and all rows are in a list.

`top_names[0] = [2018, 'Male', 'Liam', 19837]`

In [ ]:
top_names = list()

top_names[0] = [2018, 'Male', 'Liam', 19837]
top_names[1] = [2018, 'Female', 'Emma', 18688]
top_names[2] = [2017, 'Male', 'Liam', 18798]
top_names[3] = [2017, 'Female', 'Emma', 19800]
top_names[4] = [2016, 'Male', 'Noah', 19117]
top_names[5] = [2016, 'Female', 'Emma', 19496]

top_names

IndexError: ignored

## List of Dictionaries (LoDs)

still representing data as collection of rows. But this time each row is a dictioanry of variable(key):data(value) pair. All these dictionary is in a list

`top_names[0] = {'year':2018, 'sex':'Male', 'name':'Liam', 'count':19837}`

In [ ]:
top_names = list()

##TODO - WRITE CODE TO POPULATE top_names FROM raw_data ##

top_names

## How about Dictionary of Dictionaries (DoDs) ??? 

Why not !? But there's no benefit of this (at least at this point and with this dataset)

`top_names [0] = {'year':2018, 'sex':'Male', 'name':'Liam', 'count':19837}`

## Book Reading 
3.4

# Practices

## Q1: Write a function

`convertDoL2LoL(D)`

that converts from a dictionary of lists representation in D to the equivalent list of lists representation, returning both the list of column names, as given by the keys of D, as well as a list of lists storing the data in the values of D. Note that, because we do not know the order of mappings in a dictionary, the order of fields in the column names, and the order of fields in the rows of the data set may not be apparent. But as long as all rows as well as the list of column names is consistent, the conversion is valid.

In [ ]:

topnamesDoL = {'year': [2018, 2018, 2017, 2017, 2016, 2016],
          'sex': ['Male', 'Female', 'Male',
                    'Female', 'Male', 'Female'],
          'name': ['Liam', 'Emma', 'Liam', 'Emma',
                     'Noah', 'Emma'],
          'count': [19837, 18688, 18798, 19800, 19117, 19496]}

topnamesLoL = [[2018, 'Male', 'Liam', 19837],
               [2018, 'Female', 'Emma', 18688],
               [2017, 'Male', 'Liam', 18798],
               [2017, 'Female', 'Emma', 19800],
               [2016, 'Male', 'Noah', 19117],
               [2016, 'Female', 'Emma', 19496]]
columns = ['year', 'sex', 'name', 'count']

In [ ]:

def convertDoL2LoL(D):
  topnamesLoL = list()
  columns = list()
  dict_keys = list(D.keys())
  for i in dict_keys:
    columns.append(i)

  for j in range(len(D[k[0]])):
    for k in range(len(dict_keys)):
      topnamesLoL[j].append(D[dict_keys[k]][j])
  print(columns)
  print(topnamesLoL)

In [ ]:
# Testing cell

convertDoL2LoL(topnamesDoL)

## Q (2): Write a function

`convertLoL2DoL(columns, data)`

that converts from a list of lists to a dictionary of lists D, which you return. Here, columns is a list of column names (which will become the keys in D), and data is a list of row lists.

In [ ]:
columns = ['year', 'sex', 'name', 'count']
def convertLoL2DoL(column, data):
  topnamesDoL = dict()
  for i in range(n):
    for j in data:
      if column[i] in topnamesDoL.keys():
        topnamesDoL[column[i]].append(j[i])
      else:
        topnamesDoL[column[i]] = [j[i]]
  return topnamesDoL

convertLoL2DoL(columns, topnamesLoL)